<script src='/static/script/constructor.js'>
</script>
<div class='constructor'>
	<img id='base' width='300px' src='/static/ingredient/Base.png' />
	<div id='ingredients'>
		<ul id='item'>
			{{#each data}}
				<li id='item '>
					<button
						id='constructor'
						class={{name}}
						onclick='deleteIngredient(this)'
					>-</button>
					<label id='name constructor-ingredient-name'>{{name}}</label>
					<button
						id='constructor'
						class={{name}}
						onclick='insertIngredient(this)'
					>+</button>
					<span id='price {{name}}'>{{price}} rub.</span>
					<span id='weight {{name}}'>{{weight}} g.</span>
				</li>
			{{/each}}

		</ul>
	</div>

	<div class='constructor-params'>
		<span id='totalPrice'>Price: 5</span>
		<span id='totalWeight'>Weight: 100</span>
	</div>
</div>