<div class="container" > 
			<div class="pizzeriaItem" >
				<img width="400" src={{image}}>
				<h3>{{name}}</h3>
				<p>{{address}}</p>
				Pizzas: 
				<ul>
				{{#each pizza}}
				<li>{{this.name}}</li>
				{{/each}}
				</ul>
				
				</br>
				Drinks: 
				<ul>
				{{#each drink}}
				<li>{{this.name}}</li>
				{{/each}}
				</ul>
			{{#if admin}}
			<div class='card-buttons cart-pizzeria-buttons'>
			<a id="link" href="/pizzeria/pizza/{{id}}">post pizza</a>
			<a id="link" href="/post/pizzeria">post pizzeria</a>

			</div>
			{{/if}}
			</div>

			
			
</div>