<div class='card-item'  > 
			<div id="drinkItem" >
				<img height="200"  src={{image}}>
				<h3>{{name}}</h3>
				<p>{{volume}} l.</p>
                <p>{{price}} rub.</p>
			</div>
			{{#if admin}}
			<div class='card-buttons'>
				<a id="link" href="/post/drink">post</a>
				</br>
				<a id="link" href="/update/drink/{{id}}">update</a>
				</br>
				<a id="link" href="/delete/drink/{{id}}">delete</a>
			</div>
			{{/if}}
</div>