<div id="orderItem">
    {{#if orders includeZero=false}}
    
    {{#each orders}}
        <h1>ORDER</h1>
        <p>Total price of order: {{this.totalPrice}}</p>
		<p>Status of order: {{this.status}}</p>
        <p> Pizzeria:     {{this.pizzeria.address}}</p>
        <h2>PIZZA</h2>

            {{#each orderTopizza}}
                {{#with pizza}}
                
                    <p>Name: {{name}}</p>
                    <img height="200" src="{{image}}">
                    <p>Price: {{price}}</p>

                {{/with}}
                <p>Quantity: {{quantity}}</p>
            {{/each}}

            <h2>DRINK</h2>
            {{#each drinkToorder}}
                {{#with drink}}
                    
                    <p>Name: {{name}}</p>
                    <img height="200" src="{{image}}">
                    <p>Price: {{price}}</p>

                {{/with}}
                <p>Quantity: {{quantity}}</p>
            {{/each}}
    {{/each}}

    
    {{#each orders}}
            

    {{/each}}
    
    {{else}}
    <h2>There are no orders</h2>
    {{/if}}

</div>