<script src="/static/script/putPizza.js"></script>

<input id="id" value="{{id}}" disabled></input>


<div id='count'>  
    <input type='text' name="name" value="{{name}}" required>
    <input type='number' name="weight" value="{{weight}}"required>
    <input type='number' name="size" value="{{size}}" required>
    <input type='number' name="price" value="{{price}}" required>


</div>
<button onclick='Update()'>Send</button>